$breakpoints: (
	"full": 1920px,
	"xl": 1680px,
	"macbook": 1440px,
	"ipad-pro": 1366px,
	"desktop-md": 1200px,
	"desktop": 1024px,
	"tablet": 768px,
	"phone": 667px,
	"phone-md": 568px,
	"phone-sm": 480px,
	"phone-xs": 375px
);
// ligatured operators ≥ ≤

// keywords
$media-expressions: (
	"iphoneX":
		"(min-width: 812px) and (max-height: 414px) and (orientation: landscape)",
	"screen": "screen",
	"print": "print",
	"handheld": "handheld",
	"landscape": "(orientation: landscape)",
	"portrait": "(orientation: portrait)",
	"retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)",
	"retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)"
);

// Container

$container: (
	"default": 1180px,
	// "lg": 1400px
);

:root {
	--gutter: 20px;
}
